{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock title %}</title>
    <link href="{% static 'home/style.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <h1><a href="{% url "home" %}">Posts System</a></h1>
        <nav>
            <a href="{% url "home" %}">Home</a>
            <a href="{% url "posts:posts" %}">Posts</a>
            <a class="nav-link" href="/admin/">
                {% if request.user.is_staff %}Admin{% else %}Acceder{% endif %}
            </a>
        </nav>
    </header>
    {% block content %}{% endblock content %}
</body>
</html>