.my-navbar {
    background-color: #f8f9fa;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding-bottom: 1rem;
  }
  
  .my-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  
  .my-navbar-brand {
    font-weight: bold;
    margin-right: 3rem;
    margin-left: 1rem;
  }
  
  .my-nav-item {
    display: inline-block;
  }
  
  .my-nav-item:last-child {
    margin-right: 0;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7dcc73;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 465px) {
    .my-container {
      max-width: 90%;
    }
  
    .nav1{
      margin-bottom: 0.5rem;
    }
  }
  