
.content_max{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.post-section {
    background-color: rgb(149, 195, 195);
    width: 60%;
    margin: 1rem;
}

.post-content {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 0.5rem;
}

.post-image {
    flex: 0 0 auto; /* Esto hace que el ancho no se ajuste */
    margin-right: 2.1rem; /* Espacio entre la imagen y el texto */
}

.post-image img {
    max-width: 100%;
    border-radius: 10px;
    width: 5rem;
    height: 5rem;
    margin-top: 0.5rem;
}

.post-details {
    flex: 1; /* Esto hace que el contenido tome el espacio restante */
}

.post-details h2 {
    margin: 0;
    font-size: 24px;
    line-height: 1.5;
}

.post-details p {
    font-size: 16px;
}

.post-details a {
    text-decoration: none;
    color: #007bff;
}

.post-details a:hover {
    text-decoration: underline;
}
