
.content_max {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}


.post-section {
    background-color: rgb(149, 195, 195);
    width: 100%;
    max-width: 600px;
    margin: 1rem auto;
    padding: 1rem;
}

.post-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-image img {
    max-width: 100%;
    border-radius: 10px;
}

.post-details {
  flex: 1;
}

.post-details h2 {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.5;
}

.post-details p {
    font-size: 1rem;
}

.post-details a {
    text-decoration: none;
    color: #007bff;
}

.post-details a:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 768px) {
    .post-section {
        width: 90%;
    }

    .post-content {
        align-items: center;
    }

    .post-image {
        margin-right: 0;
        margin-bottom: 10px;
    }
}