.content_max {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.post-section {
    background-color: rgb(149, 195, 195);
    width: 100%;
    max-width: 600px;
    margin: 1rem auto;
    padding: 1rem;
}

.post-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-image img {
    max-width: 100%;
    border-radius: 10px;
}

.post-details {
  flex: 1;
}

.post-details h2 {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.5;
}

.post-details p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.post-details button{
    color: #ffffff;
}

button {
    padding: 10px 20px;
    background-color: #729cca;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btns{
    display: flex;
    justify-content: center;
}

button a {
    text-decoration: none;
    color: #000;
    padding: 10px;
}

.btn-a {
    background-color: #7dcc73;
    margin-left: 1rem;
}

.btn-a a {
    color: #000;
}

.msj{
    margin-top: 1rem;
    text-align: center;
}

.a-link-login{
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 1rem;
    text-decoration: none;
    margin-left: 1rem;
    padding: 0;
}

@media only screen and (max-width: 768px) {
    .post-section {
        width: 90%;
    }

    .post-content {
        align-items: center;
    }

    .post-image {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .btns{
        display: flex;
        justify-content: space-around;
    }

    .btn-a {
        margin-left: 0;
    }
}

@media only screen and (max-width: 400px) {
    .btns{
        display: flex;
        align-items: center;
    }

    .btns > button{
        margin-top: 0.5rem;
        margin-right: 3px;
        padding: 10px 1rem;
    }
}
