{% load static %}

{% if request.user.is_staff %}
<link rel="stylesheet" href="{% static "posts/options.css" %}">
<nav class="my-navbar">
    <div class="my-container">
        <span class="my-navbar-brand"><i>Opciones admin</i></span>
        <ul class="my-navbar-nav">
            <!-- FIX -->
            <li class="my-nav-item nav1"><a href="{% url "posts:create" %}" class="btn">Crear post</a></li>
            <li class="my-nav-item"><a href="{% url "posts:posts" %}" class="btn">Listado de posts</a></li>
        </ul>
    </div>
</nav>
{% endif %}
