* {
    padding: 0;
    margin: 0;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    margin: 0;
}

nav {
    display: flex;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    text-decoration: underline;
}