{% extends "home/base.html" %}
{% load static %}

{% block title %} {{ post.title }}{% endblock title %}

{% block content %}
  {% include "posts/includes/post_menu.html" %}
  <link rel="stylesheet" href="{% static "posts/detail.css" %}">
  <button class="return"><a href="{% url "posts:posts" %}">volver</a></button>
  <main class="main">
    <div class="container">
      <div class="content">
        <h2>{{post.title}}</h2>
          <p class="text">{{post.content|safe|linebreaksbr}}</p>
        <img src="{{ post.image.url }}">
      </div>
    </div>
  </main>
{% endblock content %}


