{% extends "home/base.html" %}
{% load static %}

{% block title %} Posts{% endblock title %}

{% block content %}
	<link rel="stylesheet" href="{% static "posts/style.css" %}">
	<div class="content_max">
		{% for post in object_list %}
			<section class="post-section">
				<div class="post-content">
					<img src="{{ post.image.url }}" width="100rem" heignt="100rem">
					<h2>{{ post.title }}</h2>
					<p>{{ post.content|striptags|safe|truncatechars:"200" }}</p>
					<p><a href="{% url 'posts:posts' %}">Leer más</a>
					{% comment %} {% if request.user.is_staff %}
						| <a href="{% url "pages:update" post.id %}">Editar</a>
						| <a href="{% url "pages:delete" post.id %}">Borrar</a>
					{% endif %} {% endcomment %}
					</p>
				</div>
			</section>
		{% endfor %}
	</div>
{% endblock content %}
