{% extends 'home/base.html' %}
{% load static %}

{% block title %}Crear página{% endblock %}

{% block content %}
{% include 'posts/includes/post_menu.html'%}
<link rel="stylesheet" href="{% static "posts/forms.css" %}"> 
<main class="main">
  <div class="form-container">
    <form action="{% url 'posts:create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_title">Título:</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="id_content">Contenido:</label>
            {{ form.content }}
        </div>
        <div class="form-group">
            <label for="id_image">Imagen:</label>
            {{ form.image }}
        </div>
        <br />
        <input class="form-submit" type="submit" value="Crear página" />
    </form>
</div>
</main>
{% endblock %}
