{% extends "home/base.html" %}
{% load static %}

{% block title %} Posts{% endblock title %}

{% block content %}
	{% include "posts/includes/page_menu.html" %}
	<link rel="stylesheet" href="{% static "posts/style.css" %}">
	<div class="content_max">
		{% for post in object_list %}
			<section class="post-section">
				<div class="post-content">
					<div class="post-image">
						<img src="{{ post.image.url }}">
					</div>
					<div class="post-details">
						<h2>{{ post.title }}</h2>
						<p>{{ post.content|striptags|safe|truncatechars:"200" }}</p>
						<p><a href="{% url 'posts:post' post.id post.title|slugify %}">Leer más</a></p>
					</div>
				</div>				
					{% comment %} {% if request.user.is_staff %}
						| <a href="{% url "posts:update" post.id %}">Editar</a>
						| <a href="{% url "posts:delete" post.id %}">Borrar</a>
					{% endif %} {% endcomment %}
			</section>
		{% endfor %}
	</div>
{% endblock content %}
